<%- include('header') -%>
	<!-- banner -->
	<div class="banner layer" id="home">
		<div class="container">
			<div class="banner-text">
				<div class="slider-info">
					<div class="agileinfo-logo">
						<h3>
							<span class="fas fa-university text-center"></span>Investment management
						</h3>
					</div>
					<h3 class="txt-w3_agile">Transform Your Dreams into Reality</h3>
					<a class="btn btn-danger  mt-4 text-capitalize scroll" href="#w3layouts_bnrbtm" role="button">Don't let your dreams be dreams</a>
				</div>
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- banner bottom -->
	<section class="w3ls-bnrbtm py-5" id="w3layouts_bnrbtm">
		<!-- title description  -->
		<div class="container py-sm-5">
			<div class="row pt-lg-5">
				<div class="col-lg-5  bb-left">
					<span class="w3-line">what we do</span>
					<h3 class="agile-title">about AV Bank investments</h3>
				</div>
				<div class="col-lg-7 mt-lg-0 mt-3 px-lg-5">
					<p>AV Bank is headquartered in San Francisco with an office in New York and has been registered as an 
            investment adviser with the SEC since its inception in 1994. The Firm manages approximately $18 billion in assets 
            for a global institutional and retail investor base across an integrated platform of credit and equity strategies. 
            The Firm invests in bank loans, high yield bonds, convertible bonds, structured products and equities in various structures and formats. 
            AV Bank is an independent investment affiliate of Nuveen Investments Inc.</p>
					<a class="btn btn-danger  mt-sm-4 text-capitalize" href="services" role="button">Just do it!</a>
				</div>
			</div>
		</div>
		<!-- //title description  -->
	</section>
	<!-- //banner bottom -->
	<!-- about -->
	<section class="py-sm-5 py-3">
		<div class="container">
			<div class="agileabt-w3 py-lg-5">
				<div class="row my-md-5 mt-sm-5 my-4">
					<!-- about left grid -->
					<div class="col-lg-6 order-lg-0 order-1  mt-lg-0 mt-5">
						<div class="row">
							<div class="col-6 w3-ab">
								<div class="w3-ab-grid">
									<div class="w3-aicon p-lg-5 p-4">
										<i class="fas fa-chart-line"></i>
										<h4 class="my-3 text-capitalize text-dark">expenses</h4>
									</div>
								</div>
							</div>
							<div class="col-6 w3-ab">
								<div class="w3-ab-grid">
									<div class="w3-aicon p-lg-5 p-4">
										<i class="fab fa-magento"></i>
										<h4 class="my-3 text-capitalize text-dark">mortgage</h4>
									</div>
								</div>
							</div>
							<div class="col-6 mt-4 w3-ab">
								<div class="w3-ab-grid">
									<div class="w3-aicon  p-lg-5 p-4">
										<i class="fas fa-chart-pie"></i>
										<h4 class="my-3 text-capitalize text-dark">investements</h4>
									</div>
								</div>
							</div>
							<div class="col-6 mt-4 w3-ab">
								<div class="w3-ab-grid">
									<div class="w3-aicon p-lg-5 p-4">
										<i class="fab fa-accusoft"></i>
										<h4 class="my-3 text-capitalize text-dark">finance</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- about right grid -->
					<div class="col-lg-6 order-lg-1 order-0">
						<h3 class="agile-title text-lg-right">Financial Services Core Customer Centric Approach</h3>
						<div class="w3ls-abt">
							<img src="<%= assetsUrl %>banner2.png" alt="" class="img-fluid" />
						</div>
					</div>
					<!-- //about right grid -->
				</div>
			</div>
		</div>
	</section>
	<!-- //about -->
	<!-- video -->
	<section class="pb-md-5">
		<div class="container">
			<div class="agileabt-w3">
				<div class="row pb-5">
					<div class="col-lg-6 order-lg-0 order-1  mt-lg-0 mt-5">
						<h3 class="agile-title">30+ years of experiences</h3>
						<ul class="list-group mt-3">
							<li class="list-group-item border-0">
								<i class="fas fa-check mr-3"></i>Enhancing wealth by helping you make smarter financial decisions.</li>
							<li class="list-group-item border-0">
								<i class="fas fa-check mr-3"></i>Helping you minimize income and estate taxes over the course of your lifetime.</li>
							<li class="list-group-item border-0">
								<i class="fas fa-check mr-3"></i>Ensuring your assets are protected from unwelcome third parties.</li>
							<li class="list-group-item border-0">
								<i class="fas fa-check mr-3"></i>Reinforcing your legacy and values through a well thought out wealth transfer plan.</li>
							<li class="list-group-item border-0">
								<i class="fas fa-check mr-3"></i>Ensuring charitable giving is done in a meaningful and impactful way for those interested.</li>
						</ul>
					</div>
					<div class="col-lg-6 grad_video p-sm-5 p-4  order-lg-1 order-0">
						<h3 class="agile-title text-white">get expertise advice and start saving!</h3>
						<!-- Button trigger modal -->
						<div class="button">
							<a href="#small-dialog1" class="play-icon popup-with-zoom-anim text-center mt-sm-5 mt-3">
								<i class="fas fa-play-circle pr-5 text-left"></i>play</a>
						</div>
						<div id="small-dialog1" class="mfp-hide w3ls_small_dialog wthree_pop">
							<div class="agileits_modal_body">
								<iframe src="https://player.vimeo.com/video/149659911"></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //video -->
	<!-- team -->
	<section class="wthree-row py-5" id="team">
		<!-- team container -->
		<div class="team_bg_w3ls">
			<div class="container py-sm-5">
				<!-- title description -->
				<div class="row py-lg-5">
					<div class="col-lg-5  bb-left">
						<span class="w3-line">show case</span>
						<h3 class="agile-title">our team</h3>
					</div>
					<div class="col-lg-7 mt-lg-0 mt-3 px-lg-5">
						<p>AV Bank has more than 80 employees, including more than 30 investment professionals. 
              We work as a team to identify value across the capital structure, deliver desirable portfolio outcomes and provide excellent client service. 
              Meet our leadership:</p>
						<a class="btn btn-danger  mt-sm-4 text-capitalize scroll" href="#w3layouts_cs" role="button">read more</a>
					</div>
				</div>
				<!-- //title description -->
				<!-- team row -->
				<div class="row py-md-5 pt-5">
					<div class="col-lg-3 col-6 team-grids">
						<div class="our-team">
							<div class="pic">
								<img src="<%= assetsUrl %>t2.jpg" alt="team member" class="img-fluid" />
							</div>
							<div class="content">
								<h3 class="title">Stephanie Morrow</h3>
								<span class="post">President & CEO</span>
								<ul class="social">
                  <li>
										<a href="#" class="fab fa-facebook-f"></a>
									</li>
									<li>
										<a href="#" class="fab fa-twitter"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-6 team-grids">
						<div class="our-team">
							<div class="pic">
								<img src="<%= assetsUrl %>t1.jpg" alt="team member" class="img-fluid" />
							</div>
							<div class="content">
								<h3 class="title">Ernest Mack</h3>
								<span class="post">Chief Operating Officer</span>
								<ul class="social">
									<li>
										<a href="#" class="fab fa-twitter"></a>
									</li>
									<li>
										<a href="#" class="fab fa-linkedin"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-6 team-grids mt-lg-0 mt-4">
						<div class="our-team">
							<div class="pic">
								<img src="<%= assetsUrl %>t4.jpg" alt="team member" class="img-fluid" />
							</div>
							<div class="content">
								<h3 class="title">Monika Ibarra</h3>
								<span class="post">Chief Information Officer</span>
								<ul class="social">
									<li>
										<a href="#" class="fab fa-linkedin"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-6 team-grids mt-lg-0 mt-4">
						<div class="our-team">
							<div class="pic">
								<img src="<%= assetsUrl %>t3.jpg" alt="team member" class="img-fluid" />
							</div>
							<div class="content">
								<h3 class="title">Finnian Wharton</h3>
								<span class="post">SVP/Marketing & Communications</span>
								<ul class="social">
									<li>
										<a href="#" class="fab fa-facebook-f"></a>
									</li>
									<li>
										<a href="#" class="fab fa-twitter"></a>
									</li>
									<li>
										<a href="#" class="fab fa-linkedin"></a>
									</li>
									<li>
										<a href="#" class="fab fa-reddit"></a>
									</li>
									<li>
										<a href="#" class="fab fa-xbox"></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- //team row -->
			</div>
		</div>
		<!-- //team container -->
	</section>
	<!-- //team -->
	<!-- case studies -->
	<section class="case_w3ls  py-5" id="w3layouts_cs">
		<div class="container py-sm-5">
			<!-- title description -->
			<div class="row py-lg-5">
				<div class="col-lg-5  bb-left">
					<span class="w3-line">case studies</span>
					<h3 class="agile-title">the new brand identity</h3>
				</div>
				<div class="col-lg-7 mt-lg-0 mt-3 px-lg-5">
					<p>Since AV Bank’s founding more than 20 years ago, the firm’s culture has been characterized by a commitment to teamwork, 
            integrity and mutual respect. Our culture is the underpinning of achieving the goals that we set as a firm. 
            Symphony seeks to deliver value-added investment services, provide institutional quality client coverage, attract and retain talented asset 
            management professionals and operate with the highest integrity in all aspects of the business.</p>
					<a class="btn btn-danger  mt-sm-4 text-capitalize" href="error" role="button">Do it!</a>
				</div>
			</div>
			<!-- //title description -->
			<!-- case studies row -->
			<div class="row pt-5">
				<div class="col-lg-4 col-md-6">
					<div class="img1 img-grid  d-flex align-items-end justify-content-center p-3">
						<div class="img_text_w3ls">
							<h4>Stock Options</h4>
							<span> </span>
							<p> Learn how to hedge with financial derivatives</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 my-md-0 mt-4">
					<div class="img1 img2 img-grid  d-flex align-items-end justify-content-center p-3">
						<div class="img_text_w3ls">
							<h4>Convertible Bonds</h4>
							<span> </span>
							<p> Learn how to use bonds in the economy </p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 my-lg-0 mt-4">
					<div class="img1 img3 img-grid  d-flex align-items-end justify-content-center p-3">
						<div class="img_text_w3ls">
							<h4>Blockchain and Crypto</h4>
							<span> </span>
							<p>How to use blockchain and cryptocurrency to bankrupt yourself </p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mt-4">
					<div class="img1 img5 img-grid  d-flex align-items-end justify-content-center p-3">
						<div class="img_text_w3ls">
							<h4>Dealing with crippling stock losses and depression</h4>
							<span> </span>
							<p>Having investment discipline is important. Don't sell. Always be closing. </p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6  mt-4">
					<div class="img1 img4 img-grid  d-flex align-items-end justify-content-center p-3">
						<div class="img_text_w3ls">
							<h4>Always be closing.</h4>
							<span> </span>
							<p>Always be closing. The best sales people are always closing.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mt-4">
					<div class="img1 img-grid  d-flex align-items-end justify-content-center p-3">
						<div class="img_text_w3ls">
							<h4> Making sound investment decisions</h4>
							<span> </span>
							<p>Watch our webinar on financial decisions! </p>
						</div>
					</div>
				</div>
			</div>
			<!-- //case studies row -->
		</div>
	</section>
	<!-- //case studies -->
<%- include('footer') -%>